@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
    font-family: 'droid';
    src: url('fontes/idroid.otf');
}
:root {
    --cor1: #826AFC;
    --cor6: #826afc80;
    --cor2: #624FBD;
    --cor3: #431EFC;
    --cor4: #3016B0;
    --cor5: #210F7D;
    --font1: 'Bebas Neue', sans-serif;
    --font2: 'Roboto', sans-serif;
    --font3: 'droid', Arial;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--font2);
}
a {
    background-color: var(--cor6);
    color: var(--cor5);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
a::after {
    content: '🔗';
}
header {
    width: 100%;
    padding: 20px;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor4));
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}
header > p {
    margin-top: 10px;
}
nav {
    min-width: 300px;
    background-color: var(--cor4);
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}
nav > ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
}
nav > ul > li {
    border-radius: 10px;
    padding: 5px;
}
nav > ul > li:hover {
    cursor: pointer;
    background-color: var(--cor3);
}
main {
    background-color: var(--cor2);
    padding: 10px;
}
article {
    background-color: #fff;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    min-width: 300px;
    max-width: 800px;
}
article > h1,h2 {
    font-family: var(--font3);
    color: var(--cor5);
}
article > h1 {
    padding: 10px;
}
article > h2 {
    margin: 10px;
    background-color: var(--cor6);
    padding: 5px;
}
article > p {
    padding: 10px;
    text-indent: 20px;
    text-align: justify;
    line-height: 1.5em;
}
.images {
    display: flex;
    justify-content: center;
}
.img {
    width: 100%;
}
.yt {
    background-color: var(--cor1);
    padding: 10px;
    display: flex;
    justify-content: center;
}
aside {
    margin: 10px;
    border-radius: 20px;
    overflow: hidden; /*Esconde o conteúdo fora da caixa*/
    
}
aside > h3 {
    background-color: var(--cor3);
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
}
aside > div > p {
    text-align: justify;
    text-indent: 20px;
    padding: 10px;
}
aside > div {
    background: var(--cor6);
}
aside > div > ul {
    padding: 10px;
    list-style-type: '\2714';
    columns: 2;
    list-style-position: inside;
}
footer {
    padding: 5px;
    background-color: var(--cor3);
    text-align: center;
    color: #fff;
}